
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
header{
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    padding: 15px 100px;
    align-items: center;
    margin: 0  auto;
  
}
.logo{
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}
.menu{
    display: flex;
    list-style: none;
    gap: 15px;
}
.menu li a{
    text-decoration: none;
    color:lightgrey
}
.hero{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 100px;
}
.info{
    width: 350px;
}
.info button{
    background-color: #3882F6;
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: bold;
}
h2{
    text-align: center;
    padding: 25px;
}

.hero h1, .hero p{
    color: white;
}
.heroimage p{
    width: 600px;
    height: 200px;
    border: 2px solid white;
    background-color:gray;
}
.information{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 25px;
    padding: 25px 100px;
    

}
.tarjeta{
    width: 150px;
}

.tarjeta img{
    width: 150px;
    height: 150px;
    overflow: hidden;
    border: 2px solid blue;
    border-radius: 15px;
}

.quote{
    background-color: #e5e7eB;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calltoaction{
    
    background-color: #3882F6;
    color: white;
    display: flex;
    padding: 25px;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 100px;
    border-radius: 10px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: #1F2937;
    color: white;
}

.button__signup button{
    color:white;
    background-color:#3882F6 ;
    padding: 5px 25px;
    border: 2px solid white;
    
}